* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 100vh;
  width: 100%;
  padding: 0px 120px;
  background-image: linear-gradient(#5943004c, #5943004c),
    url(./images/hero_bg_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-size: 28px;
  font-weight: 200;
  color: #fff;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 35px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
}

nav ul li a:hover {
  color: #00ffe1;
}

.hero {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero_heading {
  font-family: serif;
  font-size: 50px;
  color: #fff;
}

.color_text {
  font-family: serif;
  font-size: 50px;
  color: #2fc4b2;
}

.hero p {
  text-align: center;
  width: 500px;
  color: #fff;
  text-transform: capitalize;
  line-height: 24px;
  padding: 15px 0px 22px 0px;
}

.video_section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icone_contaner {
  height: 45px;
  width: 45px;
  padding-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2fc4b2;
  border-radius: 50%;
}

.play_icone {
  color: #fff;
  font-size: 25px;
}

.video_intro {
  color: #fff;
  font-size: 17px;
  font-weight: 100;
}

.category {
  padding: 40px 120px;
  background: #2fc4b2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.category_icone {
  font-size: 50px;
}

.category_card h4 {
  font-size: 20px;
  padding: 8px 0px 15px 0px;
  font-weight: 100;
  font-family: serif;
}

.sheap {
  height: 2px;
  width: 60px;
  background: #00ffe1;
  border-radius: 20px;
}

.about {
  display: flex;
  justify-content: space-around;
  padding: 80px 320px;
  align-items: center;
  gap: 100px;
}

.right img {
  height: 280px;
}

.left h4 {
  font-size: 30px;
  font-family: serif;
  color: #364d59;
}

.left p {
  text-transform: capitalize;
  line-height: 24px;
  padding: 20px 0px 40px 0px;
  color: #545353;
}

.btn {
  padding: 12px 30px;
  border: none;
  background: #2fc4b2;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.2s;
}
.btn:hover {
  background: #138c7e;
}

.service {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px 120px 90px 120px;
  gap: 25px;
}

.service_card {
  box-shadow: 0px 2px 5px #dfdbdb;
  padding: 40px;
  border-radius: 8px;
  display: flex;
  align-items: start;
  gap: 20px;
}

.service_icone {
  font-size: 60px;
  color: #2fc4b2;
}

.service_right h4 {
  font-size: 22px;
  font-weight: 100;
  font-family: serif;
  padding-bottom: 5px;
  color: #0a1216;
}

.service_right p {
  color: #323232;
  text-transform: capitalize;
  line-height: 20px;
  font-size: 15px;
}

.testimonials {
  padding: 70px 120px;
  background: #f8f9fa;
}

.top_header {
  text-align: center;
  padding-bottom: 40px;
}

.top_header_intro {
  color: #2fc4b2;
  padding-bottom: 6px;
}

.top_header h2 {
  font-family: serif;
  padding-bottom: 10px;
  color: #364d59;
  font-size: 30px;
}

.top_header_para {
  color: #636262;
}

.testimonials_card_containnear {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.testimonials_card {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #dfdbdb;
}

.testimonials_paragraph {
  text-transform: capitalize;
  line-height: 24px;
  color: #545353;
  padding-bottom: 12px;
}

.testimonials_use_card {
  display: flex;
  align-items: center;
  gap: 15px;
}

.testimonials_img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.testimonials_use_card h4 {
  color: #3b3a3a;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 16px;
}

.testimonials_use_card p {
  color: #545353;
}

.blog {
  padding: 70px 120px;
}

.blog_card_contaneat {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.blog_card img {
  height: 260px;
  width: 100%;
}

.card_content {
  padding: 10px 0px;
}

.date {
  color: #636262;
  padding-bottom: 8px;
}

.card_content h4 {
  font-size: 22px;
  font-weight: 100;
  font-family: serif;
  padding-bottom: 8px;
  color: #0a1216;
}

.description {
  text-transform: capitalize;
  line-height: 24px;
  color: #545353;
}

.newsleatter {
  padding: 50px 120px;
  background: #2fc4b2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsleatter_header {
  color: #fff;
  font-family: serif;
  font-size: 30px;
  padding-bottom: 6px;
}

.newsleatter_description {
  color: #fff;
  text-transform: capitalize;
  line-height: 24px;
}

.btn_two {
  padding: 15px 35px;
  border: none;
  background: #fff;
  color: #2fc4b2;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.2s;
}
.btn_two:hover {
  background: #d4d4d4;
  color: #000;
}

footer {
  padding: 50px 120px 0px 120px;
  background: #f8f9fa;
  display: flex;
  flex-direction: column;
}

.footer_left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  padding-bottom: 50px;
  border-bottom: 2px solid rgb(213, 211, 211);
}

.company_name h4 {
  color: #545353;
  font-size: 25px;
  font-weight: 100;
  padding-bottom: 10px;
}

.company_name p {
  color: #535353;
  text-transform: capitalize;
  line-height: 24px;
}

.menu h4 {
  color: #545353;
  font-size: 18px;
  padding-bottom: 10px;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu ul li a {
  text-decoration: none;
  color: #535353;
}

.footer_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #545353;
  padding: 20px 0px;
}

.footer_right ul {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.footer_right ul li a {
  text-decoration: none;
  color: inherit;
}

/* 
Color: #2fc4b2 
BG Color : #2fc4b2 
heading : #364d59
*/
